* {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;
    background-image: url(/assets/imagem3.jpg) ;
    background-attachment: fixed;
    background-size: cover;
}

header {
    /* background-color: blueviolet; */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 100px;
}

img {
    height: 100px;
}

/*--------------- CARDS ---------------*/
main {
    margin: 10px 50px 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .card {
    background-color: #ccc;
    color: black;
    border-radius: 7px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    width: 300px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    border: 1px solid white;
    opacity: 0.9;
}

main .card h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

main .card h3 {
    font-weight: bold;
    font-size: 30px;
}

main .card .divider {
    margin: 5px;
    border-bottom: 1px solid black;
}

main .card button {
    width: 100%;
    padding: 7px;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
/*--------------- CARD:HOVER ---------------*/
main .card:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    opacity: 1;
}

main .card_branco:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

main .card_branco:hover button,
.card_glorioso:hover button {
    background-color: black;
    color: white;
}

main .card_preto:hover,
.card_alvinegro:hover {
    background-color: black;
    color: white;
}

main .card_preto:hover .divider_preto, 
.card_alvinegro:hover .divider_preto {
    border: 1px solid white;
}

main .card_glorioso:hover {
    background-color: gold;
    border: 1px solid black;
    color: black;
}

button {
    cursor: pointer;
}

/*--------------- FOOTER ---------------*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 30px;
    padding: 5px 20px;
    margin: 0 auto;
} 

footer p {
    margin: 10px;
}

footer .social {
    margin: 0 auto;
    padding: 20px;


}

footer .social a {
    margin-right: 20px;
}

footer .social .icon:hover {
    position: relative;
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

/*FAZER O SWITCH ENTRE PLANO MENSAL E PLANO ANUAL ABAIXO DA LOGO*/
/*INCLUIR NO RODAPÉ QUE TODOS OS DIREITOS SÃO RESERVADOS AO BOTAFOGO*/
